body {
    padding: 30px 5% 0 5%;
}

img {
    width: 100%;
}

.grid-container > div {
    margin-bottom: 30px;
}

.grid-container {
    display: grid;
    grid-column-gap: 5%;
    grid-template-columns: 48% 48%;
}

@media (max-width: 800px) {
    body {
        padding: 30px, 30px, 0, 30px;
    }

    .grid-container {
        grid-template-columns: 100%;
    }
}

p {
    width: fit-content;
}
